html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  padding: 40px;
}

.nav-link {
  color: white !important;
  border-radius: 10%;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.card {
  padding: 5px;
}

span {
  color: red;
}
.list {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
}

#currencies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.currency {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.price {
  color: green;
}
